.env
.env.production
.env.local
.env.*.local

/vendor/
/node_modules/

/bootstrap/cache/

/storage/app/public/
/storage/logs/
/storage/framework/views/
/storage/framework/cache/
/storage/framework/sessions/

*.log
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
.idea
.vscode/*
!.vscode/extensions.json

/public/hot
/public/storage
/public/build

Thumbs.db